
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  background-color: #1c1a3c;
  padding: 40px 40px;
  border-radius: 10px;
  width: 350px;

}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.fillup-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  background-color: #29275a;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.text-para {
  font-size: 11px;
  margin: 15px 0;
  text-align: justify;
  color: #ccc;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 13px;
}

.checkbox-container input[type="checkbox"] {
  margin: 0 8px 0 0;
}



button {
  width: 100%;
  padding: 10px;
  background-color: #5755d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #6e6bfa;
}
